 
<section id="skillsection">
    <div class="cards-list">
  
        <div class="card 1">
          <div class="card_image"> <img src="https://media.giphy.com/media/zPbnEgxsPJOJSD3qfr/giphy.gif" /> </div>
          <div class="card_title title-white">
            <p>Matematicas</p>
          </div>
        </div>
        
          <div class="card 2">
          <div class="card_image">
            <img src="https://media.giphy.com/media/mBhfvDOd7n8FPGBs6B/giphy.gif" />
            </div>
          <div class="card_title title-white">
            <p>Python</p>
          </div>
        </div>
        
        <div class="card 3">
          <div class="card_image">
            <img src="https://media.giphy.com/media/xT9IgzoKnwFNmISR8I/giphy.gif" />
          </div>
          <div class="card_title">
            <p style="color: white;">JavaScript</p>
          </div>
        </div>
          
          <div class="card 4">
          <div class="card_image">
            <img src="https://media.giphy.com/media/1lvotGQwhzi6O0gQtV/giphy.gif" />
            </div>
          <div class="card_title title-black">
            <p>SQL</p>
          </div>
          </div>



          <div class="card 5">
            <div class="card_image">
              <img src="https://media.giphy.com/media/l3vQXGZtqwRo1Zbe8/giphy.gif" />
              </div>
            <div class="card_title title-white">
              <p>HTML</p>
            </div>
          </div>

          <div class="card 6">
            <div class="card_image">
              <img src="https://media.giphy.com/media/26vIeTjie3OnqOpig/giphy.gif" />
              </div>
            <div class="card_title title-white">
              <p>CSS</p>
            </div>
          </div>


          <div class="card 7">
            <div class="card_image">
              <img src="https://media.giphy.com/media/l4Jz1qYtduGmAjycE/giphy.gif" />
              </div>
            <div class="card_title title-white">
              <p>Firebase</p>
            </div>
          </div>

          <div class="card 8">
            <div class="card_image">
              <img src="https://media.giphy.com/media/3o7bubkR8SgWlMZewg/giphy.gif" />
              </div>
            <div class="card_title title-white">
              <p>Angular</p>
            </div>
          </div>


          <div class="card 9">
            <div class="card_image">
              <img src="https://media.giphy.com/media/EatwJZRUIv41G/giphy.gif" />
              </div>
            <div class="card_title title-white">
              <p>Pandas</p>
            </div>
          </div>


          <div class="card 10">
            <div class="card_image">
              <img src="https://media.giphy.com/media/LQiq27myXGPXO6WzAE/giphy.gif" />
              </div>
            <div class="card_title title-white">
              <p>Numpy</p>
            </div>
          </div>

          <div class="card 11">
            <div class="card_image">
              <img src="https://media.giphy.com/media/Cc2lafq8xjgu4/giphy.gif" />
              </div>
            <div class="card_title title-white">
              <p>Git</p>
            </div>
          </div>

          


          <div class="card 12">
            <div class="card_image">
              <img src="https://media.giphy.com/media/26BRAp3nfSePXd8He/giphy.gif" />
              </div>
            <div class="card_title title-white">
              <p>Diseño </p>
            </div>
          </div>


        
        </div>
  </section>
