<section id="porf">


    <ul class="tilesWrap">
        <li>
            <h2>01</h2>
            <h3>Nomipro</h3>
            <p>
                Aplicación web para nómina, realizada con Django y SQlite3.
            </p>
            <button><a target="blank" style="text-decoration: none;color:#ffff" href="https://github.com/juanestebanperezm/nomipro_django_app">Ver más</a></button>
           
        </li>
        <li>
            <h2>02</h2>
            <h3>Landing Page</h3>
            <p>
                Blog con formularios para captura de datos de clientes, realizada con Angular y Firebase
            </p>
            <button><a target="blank" style="text-decoration: none;color:#ffff" href="https://formulario-e3b1d.web.app/">Ver más</a></button>
           
        
        </li>
        <li>
            <h2>03</h2>
            <h3>Bot Discord Python</h3>
            <p>
                Bot de Discord, realizado para búsqueda de videos a YouTube dentro de un servidor de Discord
            
            </p>

           <!--  <button></button> -->

            <button><a target="blank" style="text-decoration: none;color:#ffff" href="https://github.com/juanestebanperezm/Bot-Python-Discord-">Ver más</a></button>
           
            
        </li>
        <li>
            <h2>04</h2>
            <h3>E-commerce Django</h3>
            <p>
                E-commerce con Django, JavaScript e integración de PayPal
            </p>
            <button><a target="blank" style="text-decoration: none;color:#ffff" href="https://github.com/juanestebanperezm/ecomercez-kevin">Ver más</a></button>
           
        </li>


        <li>
            <h2>05</h2>
            <h3>Gestión de pedidos</h3>
            <p>
                Sistema de gestión de pedidos con Django y uso de AWS RDS y S3 Buckets
            </p>
            <button><a target="blank" style="text-decoration: none;color:#ffff" href="https://github.com/juanestebanperezm/django_with_RDS_s3">Ver más</a></button>
           
        </li>


        <li>
            <h2>06</h2>
            <h3>Task Planer</h3>
            <p>
               Task Planer con Angular
            </p>
            <button><a target="blank" style="text-decoration: none;color:#ffff" href="https://github.com/juanestebanperezm/angular-localstorage-task-planner">Ver más</a></button>
           
        </li>


        <li>
            <h2>07</h2>
            <h3>Task App</h3>
            <p>
                Task App realizada con Node JS y Express JS
            </p>
            <button><a target="blank" style="text-decoration: none;color:#ffff" href="https://github.com/juanestebanperezm/mongo-node-login">Ver más</a></button>
           
        </li>


        <li>
            <h2>08</h2>
            <h3>Generador certificados laborales </h3>
            <p>
                Generador de certificados laborales, realizado con Django y desplegado en Heroku
            </p>
            <button><a target="blank" style="text-decoration: none;color:#ffff" href="https://certificadosbbd.herokuapp.com/">Ver más</a></button>
           
        </li>


        <li>
            <h2>09</h2>
            <h3>Integración Angular Django</h3>
            <p>
                Sistema de gestión de empleados realizado con Angular, Django y SQlite3
            </p>
            <button><a target="blank" style="text-decoration: none;color:#ffff" href="https://github.com/juanestebanperezm/djangular_app_django_angular-app">Ver más</a></button>
           
        </li>


        <li>
            <h2>10</h2>
            <h3>React API Clima</h3>
            <p>
                API de consulta de clima, realizada con React
            </p>
            <button><a target="blank" style="text-decoration: none;color:#ffff" href="https://github.com/juanestebanperezm/react_weather_app_open_weather">Ver más</a></button>
           
        </li>




    </ul>













</section>
