  <div class="column2">
    <div class="bio">
    <!-- Write your own description of yourself here: -->
    <h2>Hola, soy Juan Esteban.</h2>
    <p>
        Me apasiona el campo del TI, la informática, el desarrollo de software, las matemáticas y las nuevas tecnologías, mi inclinación es hacia tecnologías backend con Python.
        
        He desarrollado experiencia en desarrollo de aplicaciones backend, así como aplicaciones frontend serveless, también he desarrollado habilidades en diseño, algunas tecnologías en nube y capacidades blandas como comunicación, trabajo en equipo, aprendizaje autodidacta y disciplina y constancia para alcanzar mis objetivos propuestos en el trabajo.
        
        He trabajado en proyectos independientes con colegas del área y también en empresas de desarrollo.</p>
    </div>
  
    <h2>GitHub, resolución de problemas y matemáticas</h2>
  
    <ul class="portfolio">
    <!-- And replace these links and titles with your own stuff, as you begin to program this week! -->
      <li><a target="_blank" href="https://edabit.com/user/pPpmP7xeJzGgK362R">Edabit</a></li>
      <li><a target="_blank" href="https://github.com/juanestebanperezm">GitHub</a></li>
      <li><a target="_blank" href="https://es.khanacademy.org/profile/estebanperezm247/">Khan Academy</a></li>
    </ul>
  </div>