<div class="back">
<div class="card back"> 
    <img id="circle" src="https://media-exp1.licdn.com/dms/image/C4E03AQE282pmLmFCzg/profile-displayphoto-shrink_800_800/0/1609381794107?e=1618444800&v=beta&t=VndwMJHeeAC2IquefOCGZ_4waZDU8tBo9de31ynk46A" alt="">
    <div class="deconstructed">
        Desarrollador Python | Angular
        <div>Desarrollador Python | Angular</div>
        <div>Desarrollador Python | Angular</div>
        <div>Desarrollador Python | Angular</div>
        <div>Desarrollador Python | Angular</div>
      </div>
</div>
</div>


